name: Viral_Shorts_Machine
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Libraries
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg imagemagick
          # Fix ImageMagick Policy for Text
          sudo sed -i 's/none/read,write/g' /etc/ImageMagick-6/policy.xml
          pip install requests edge-tts moviepy==1.0.3

      - name: Run Generator
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: python main.py

      - name: Upload Video
        uses: actions/upload-artifact@v4
        with:
          name: Final_Video
          path: viral_short.mp4
